numpy
pandas>=2.0.0
scikit-learn
matplotlib>=3.7.0
tensorflow
torch>=2.0.0
transformers>=4.36.0
requests
datasets>=2.14.0
peft>=0.7.0
trl>=0.7.0
accelerate>=0.25.0  # Required for transformers
bitsandbytes>=0.41.0  # Required for 8-bit training
wandb  # Required for logging
flash-attn==2.3.6
tf-keras
seaborn>=0.12.0